.cart__product {
  display: flex;
  justify-content: space-between;

  border-block-end: var(--rose-50) solid 1px;
}
.cart__product__total-price {
  color: var(--rose-400);
}
.cart__product__clear-btn {
  background-color: transparent;
  border: var(--rose-400) solid 1px;
  color: var(--rose-400);
  border-radius: 50%;
  aspect-ratio: 1;
  align-self: center;

  &:hover {
    border-color: black;
    color: black;
  }
}
.cart__carbon-neutral-note {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
  background-color: var(--rose-50);
  border-radius: 8px;
  margin-block: 1rem;
  padding-inline: 1rem;
}
.cart__confirm-btn {
  background-color: var(--red);
  padding: 1rem 2rem;
  border: none;
  border-radius: 100vw;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  width: 100%;

  &:hover {
    background-color: hsl(from var(--red) h s calc(l * 0.8));
  }
}
