.products {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.product-card {
  anchor-scope: --product-img;
}
.product-cart__img {
  border-radius: 8px;
  anchor-name: --product-img;

  &[data-added="true"] {
    border: var(--red) solid 2px;
  }
}
.product-cart__btn {
  position: absolute;
  position-anchor: --product-img;
  left: anchor(50%);
  translate: -50% -50%;
  width: fit-content;
  min-width: calc(anchor-size(self-inline) * 0.5);

  border-radius: 100vw;
  border: var(--rose-500) solid 1px;
  background-color: white;
  padding: 0.75rem 1rem;
  font: inherit;
  text-wrap: nowrap;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  &[data-added="true"] {
    background-color: var(--red);
    border-color: var(--red);
    color: white;

    justify-content: space-between;
  }
}
.product-cart__quantity-btn {
  aspect-ratio: 1;
  border-radius: 50%;
  border: white solid 1px;
  background-color: transparent;
  color: white;
}
.product-card__info {
  margin-block: 2rem 1rem;

  display: grid;
  gap: 0.5rem;
  p {
    margin: 0;
  }
}
.product-card__category {
  color: var(--rose-400);
}
.product-card__name {
  font-weight: 600;
}
.product-card__price {
  color: var(--red);
}
